{% assign navigations = "" | split:"|" %}
{% for navbars_data in site.data.navbars %}
  {% assign nav = navbars_data[1] %}
  {% assign navigations = navigations | push: nav %}
{% endfor %}
{% assign navbars = navigations | sort:"order" %}

{% assign title = page.name | replace: "-"," " | replace: "_"," " | split: ".md" | first %}
{% assign pageTitle = title | split: ' ' %}
{% capture pageTitleUpper %}{% for word in pageTitle %}{{ word | capitalize }} {% endfor %}{% endcapture %}
<div id="breadcrumbs">
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  <a href="{{ site.main_url }}">Home</a> >
</div>
